<div ng-class="login" class="loginDiv">
  <form class="loginForm">
    E-mail : <input type="email" name="email" ng-model="loginForm.email">
    Password : <input type="password" name="password" ng-model="loginForm.password">
  <button type="button" ng-click="loginSubmit()">Log in</button>
  <span>{{loginForm.email}} {{loginForm.password}} </span>
  </form>



   <table>
        <tr> 
          <td align="left"> <input type="text" name="name" placeholder="Name"ng-model="myForm.name"></td>
        </tr>
        <tr> 
          <td align="left"> <input type="email" name="name" placeholder="E-mail" ng-model="myForm.email"></td>
        </tr>
        <tr> 
          <td align="left"> <input type="text" name="name" placeholder="What defines you?" ng-model="myForm.value"></td>
        </tr>
        <tr> 
          <td align="left">  <button type="button" ng-click="clickSubmit()">Submit</button></td>
        </tr>
      </table>
</div>
